//Tipografia
$fuente_principal: 'Montserrat', sans-serif;

//COLORES
$rojoOscuro:#A10035;
$moradoOscur:#349299;
$moradoOscuro:#346099;
$ceniza: #a04e66;

$cian: #3FA796;
$naranja: #FEC260;

$amarillo:#F3F46D ; 
$negro:#000;
$blanco:#fff;

//Tamaños de MQ
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;